@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --base-1: 120 20% 99.01960784313727%;
    --base-2: 120 16.666666666666625% 97.6470588235294%;
    --base-3: 120 6.666666666666641% 94.11764705882352%;
    --base-4: 120 4.347826086956503% 90.98039215686275%;
    --base-5: 120 4.918032786885227% 88.0392156862745%;
    --base-6: 120 3.8961038961038836% 84.90196078431373%;
    --base-7: 120 3.03030303030302% 80.58823529411765%;
    --base-8: 105.00000000000011 2.898550724637692% 72.94117647058825%;
    --base-9: 102.85714285714293 3.004291845493564% 54.313725490196084%;
    --base-10: 102.85714285714283 2.766798418972339% 50.3921568627451%;
    --base-11: 110.00000000000003 3.0612244897959147% 38.431372549019606%;
    --base-12: 108 8.196721311475414% 11.96078431372549%;
    --accent-1: 240 100% 99.6078431372549%;
    --accent-2: 240 100% 98.62745098039215%;
    --accent-3: 235.71428571428572 87.50000000000004% 96.86274509803921%;
    --accent-4: 237.6 100% 95.09803921568627%;
    --accent-5: 236.75675675675674 100% 92.74509803921569%;
    --accent-6: 237.69230769230768 100% 89.80392156862744%;
    --accent-7: 238.125 82.05128205128207% 84.70588235294117%;
    --accent-8: 237.88235294117646 73.91304347826086% 77.45098039215685%;
    --accent-9: 240 60.00000000000002% 59.80392156862745%;
    --accent-10: 240 55.35714285714286% 56.07843137254902%;
    --accent-11: 242.08695652173913 50.21834061135371% 55.09803921568628%;
    --accent-12: 237.96610169491527 43.06569343065693% 26.86274509803922%;
    --background: 120 20% 99.01960784313727%;
    --foreground: 108 8.196721311475414% 11.96078431372549%;
    --card: 120 16.666666666666625% 97.6470588235294%;
    --card-foreground: 108 8.196721311475414% 11.96078431372549%;
    --popover: 120 20% 99.01960784313727%;
    --popover-foreground: 108 8.196721311475414% 11.96078431372549%;
    --primary: 240 55.35714285714286% 56.07843137254902%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 16.666666666666625% 97.6470588235294%;
    --secondary-foreground: 110.00000000000003 3.0612244897959147% 38.431372549019606%;
    --muted: 120 16.666666666666625% 97.6470588235294%;
    --muted-foreground: 110.00000000000003 3.0612244897959147% 38.431372549019606%;
    --accent: 240 55.35714285714286% 56.07843137254902%;
    --accent-foreground: 0 0% 100%;
    --destructive: 347.32919254658384 69.6969696969697% 54.70588235294118%;
    --destructive-foreground: 344.4155844155844 62.601626016260155% 24.11764705882353%;
    --border: 120 3.8961038961038836% 84.90196078431373%;
    --input: 120 3.8961038961038836% 84.90196078431373%;
    --ring: 120 3.8961038961038836% 84.90196078431373%;
    --radius: 0.5rem;
}
  .dark {
    --base-1: 90 5.88235294117647% 6.666666666666667%;
    --base-2: 90 4.166666666666666% 9.411764705882353%;
    --base-3: 89.99999999999989 3.0303030303030307% 12.941176470588234%;
    --base-4: 100.00000000000004 3.7037037037036993% 15.88235294117647%;
    --base-5: 99.99999999999996 3.157894736842109% 18.627450980392158%;
    --base-6: 90 3.571428571428571% 21.96078431372549%;
    --base-7: 96.00000000000007 3.5971223021582706% 27.254901960784316%;
    --base-8: 111.42857142857146 3.7037037037037055% 37.05882352941177%;
    --base-9: 108.00000000000003 4.672897196261679% 41.96078431372549%;
    --base-10: 106.6666666666666 3.734439834024895% 47.25490196078431%;
    --base-11: 105.00000000000006 5.1282051282051295% 69.41176470588235%;
    --base-12: 120 5.555555555555538% 92.94117647058823%;
    --accent-1: 240 22.44897959183674% 9.607843137254902%;
    --accent-2: 244 25.423728813559325% 11.568627450980392%;
    --accent-3: 237 38.46153846153847% 20.392156862745097%;
    --accent-4: 236.19047619047618 45.32374100719424% 27.254901960784313%;
    --accent-5: 237.3529411764706 41.463414634146346% 32.15686274509804%;
    --accent-6: 239.1304347826087 36.12565445026177% 37.450980392156865%;
    --accent-7: 240 33.6322869955157% 43.72549019607843%;
    --accent-8: 240.6741573033708 36.326530612244895% 51.96078431372548%;
    --accent-9: 240 60.00000000000002% 59.80392156862745%;
    --accent-10: 242.06896551724137 63.736263736263744% 64.31372549019608%;
    --accent-11: 245.58139534883722 100% 83.13725490196077%;
    --accent-12: 241.93548387096774 93.93939393939395% 93.52941176470588%;
    --background: 90 5.88235294117647% 6.666666666666667%;
    --foreground: 120 5.555555555555538% 92.94117647058823%;
    --card: 90 4.166666666666666% 9.411764705882353%;
    --card-foreground: 120 5.555555555555538% 92.94117647058823%;
    --popover: 90 5.88235294117647% 6.666666666666667%;
    --popover-foreground: 120 5.555555555555538% 92.94117647058823%;
    --primary: 242.06896551724137 63.736263736263744% 64.31372549019608%;
    --primary-foreground: 0 0% 100%;
    --secondary: 90 4.166666666666666% 9.411764705882353%;
    --secondary-foreground: 105.00000000000006 5.1282051282051295% 69.41176470588235%;
    --muted: 90 4.166666666666666% 9.411764705882353%;
    --muted-foreground: 105.00000000000006 5.1282051282051295% 69.41176470588235%;
    --accent: 242.06896551724137 63.736263736263744% 64.31372549019608%;
    --accent-foreground: 0 0% 100%;
    --destructive: 350.13698630136986 79.34782608695653% 63.92156862745099%;
    --destructive-foreground: 339.54545454545456 95.6521739130435% 90.98039215686275%;
    --border: 90 3.571428571428571% 21.96078431372549%;
    --input: 90 3.571428571428571% 21.96078431372549%;
    --ring: 90 3.571428571428571% 21.96078431372549%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
